<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  <settings>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>

  <typeAliases>
    <typeAlias alias="Category" type="org.example.shoppingmall.domain.category.domain.Category"/>
    <typeAlias alias="Consumer" type="org.example.shoppingmall.domain.consumer.domain.Consumer"/>
    <typeAlias alias="Product" type="org.example.shoppingmall.domain.product.domain.Product"/>
    <typeAlias alias="ProductImage" type="org.example.shoppingmall.domain.productImage.domain.ProductImage"/>
    <typeAlias alias="ProductDescription" type="org.example.shoppingmall.domain.productDescriotion.domain.ProductDescription"/>
    <typeAlias alias="ProductOption" type="org.example.shoppingmall.domain.productOption.domain.ProductOption"/>
    <typeAlias alias="Review" type="org.example.shoppingmall.domain.review.domain.Review"/>
    <typeAlias alias="WishList" type="org.example.shoppingmall.domain.wishList.domain.WishList"/>
  </typeAliases>

  <mappers>
    <mapper class="org.example.shoppingmall.mapper.CategoryMapper"/>
    <mapper class="org.example.shoppingmall.mapper.ConsumerMapper"/>
    <mapper class="org.example.shoppingmall.mapper.ProductMapper"/>
    <mapper class="org.example.shoppingmall.mapper.ProductImageMapper"/>
    <mapper class="org.example.shoppingmall.mapper.ProductDescriptionMapper"/>
    <mapper class="org.example.shoppingmall.mapper.ProductOptionMapper"/>
    <mapper class="org.example.shoppingmall.mapper.ReviewMapper"/>
    <mapper class="org.example.shoppingmall.mapper.WishListMapper"/>
  </mappers>

</configuration>